TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
String = input("Enter a string: ")
String[::-1]

Enter a string:  pwskills

'sllikswp'

2. Check if a string is a palindrome.

In [2]:
S = input("Enter a string: ")
check = S[::-1]
if (S == check):
    print("it's a palindrome")
else:
    print("it's not a palindrome")

Enter a string:  data

it's not a palindrome

3. Convert a string to uppercase.

In [3]:
u = input("Enter a string: ")
print("String in uppercase: ",u.upper())

Enter a string:  data science

String in uppercase:  DATA SCIENCE

4. Convert a string to lowercase.

In [4]:
l = input("Enter a string: ")
print("String in lowercase: ",l.lower())

Enter a string:  DAta SCienCE

String in lowercase:  data science

5. Count the number of vowels in a string.

In [5]:
string = input("Enter a string: ")
count = 0
for i in string:
    if i in ['a','e','i','o','u']:
        count = count + 1
print(count)

Enter a string:  data science is booming

9

6. Count the number of consonants in a string.

In [7]:
c = input("Enter a string: ")
count = 0
for i in c:
    if i not in ['a','e','i','o','u',' ']:
        count = count + 1
print(count)

Enter a string:  data science

6

7. Remove all whitespaces from a string.

In [8]:
R = input("Enter a string with whitespaces")
R.replace(" ","")

Enter a string with whitespaces    example   string

'examplestring'

8. Find the length of a string without using the `len()` function.

In [9]:
s = input("Enter a string: ")
length = 0
for i in s:
    length = length + 1
print("length of a string: ",length)

Enter a string:  this is an example string

length of a string:  25

9. Check if a string contains a specific word.

In [10]:
def check(sub,word):
    for i in sub:
        if (i == word):
            return True
    return False

string = input("Enter a string: ")
word = input("Word to be searched: ")
sub = string.split(sep = " ")

if (check):
    print(word," is present in given string")
else:
    print(word," is not present in given string")

Enter a string:  this is an example string
Word to be searched:  an

an  is present in given string

10. Replace a word in a string with another word.

In [11]:
s = input("Enter a string: ")
old = input("Enter a word to be replaced: ")
new = input("Enter a new word: ")
s.replace(old,new)

Enter a string:  data science is a growing industry
Enter a word to be replaced:  growing
Enter a new word:  booming

'data science is a booming industry'

11. Count the occurrences of a word in a string.

In [12]:
s = input("Enter a string: ")
w = input("Enter a word: ")
s.count(w)

Enter a string:  Pwskills is an edTech company. Pwskills offers may courses.
Enter a word:  Pwskills

2

12. Find the first occurrence of a word in a string.

In [13]:
s = input("Enter a string: ")
w = input("Enter a word: ")
s.find(w)

Enter a string:  Pwskills is an edTech company. Pwskills offers may courses.
Enter a word:  Pwskills

0

13. Find the last occurrence of a word in a string.

In [14]:
s = input("Enter a string: ")
w = input("Enter a word: ")
s.rfind(w)

Enter a string:  Pwskills is an edTech company. Pwskills offers may courses.
Enter a word:  Pwskills

31

14. Split a string into a list of words.

In [16]:
string = input("Enter a string: ")
list1 = string.split(sep = " ")
print(list1)

Enter a string:  now, This is a list.

['now,', 'This', 'is', 'a', 'list.']

15. Join a list of words into a string.

In [17]:
l = ['My','name','is','mohammed','moin']
str1 = " "
str1.join(l)

'My name is mohammed moin'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [18]:
s = input("Enter the string: ")
s.replace(" ","_")

Enter the string:  data science is booming

'data_science_is_booming'

17. Check if a string starts with a specific word or phrase.

In [19]:
s = input("Enter a string: ")
s1 = s.split(sep = " ")
w = input("Enter the word: ")
if(w == s1[0]):
    print("Yes, the string starts with ",w)
else:
    print("No, the string does not starts with ",w)

Enter a string:  Pwskills is an edTech company. Pwskills offers may courses.
Enter the word:  Pwskills

Yes, the string starts with  Pwskills

18. Check if a string ends with a specific word or phrase.

In [20]:
s = input("Enter a string: ")
w = input("Enter the word: ")
s.endswith(w)

Enter a string:  Pwskills is an edTech company. Pwskills offers may courses.
Enter the word:  Pwskills

False

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [21]:
s =  'Pwskills is a edTech company'
s.title()

'Pwskills Is A Edtech Company'

20. Find the longest word in a string.

In [22]:
s = input("Enter a sentence: ")
longest = max(s.split(sep = " "),key = len)
print("longest word in the given sentence is: ",longest)

Enter a sentence:  this is an example string

longest word in the given sentence is:  example

21. Find the shortest word in a string.

In [23]:
s = input("Enter a sentence: ")
shortest = min(s.split(sep = " "),key = len)
print("Shortest word in the given sentence is: ",shortest)

Enter a sentence:  this is a string.

Shortest word in the given sentence is:  a

22. Reverse the order of words in a string.

In [24]:
s = input("Enter a string: ")
l = s.split()
reverse_str = " ".join(reversed(l))
print(reverse_str)

Enter a string:  this is a reversed string.

string. reversed a is this

23. Check if a string is alphanumeric.

In [25]:
s = input("Enter a string: ")
s.isalnum()

Enter a string:  data123

True

24. Extract all digits from a string.

In [26]:
s = input("Enter a string: ")
num = []
for i in s:
    if(i.isdigit()):
        num.append(i)
print("digits present in string is ",num)

Enter a string:  abc123def

digits present in string is  ['1', '2', '3']

25. Extract all alphabets from a string.

In [27]:
s = input("Enter a string: ")
alp = ""
for i in s:
    if(i.isalpha()):
        alp = alp + i
print("Alphabets present in string is ",alp)

Enter a string:  123abc456

Alphabets present in string is  abc

26. Count the number of uppercase letters in a string.

In [28]:
s = input("Enter a string: ")
count = 0
for i in s:
    if(i.isupper()):
        count = count + 1
print(" number of uppercase letters in a string: ",count)

Enter a string:  DaTa ScIEnce

 number of uppercase letters in a string:  5

27. Count the number of lowercase letters in a string.

In [29]:
s = input("Enter a string: ")
count = 0
for i in s:
    if(i.islower()):
        count = count + 1
print(" number of lowercase letters in a string: ",count)

Enter a string:  DaTa ScIEnce

 number of lowercase letters in a string:  6

28. Swap the case of each character in a string.

In [30]:
S = input("Enter the string: ")
S.swapcase()

Enter the string:  DATA SCIENCE

'data science'

29. Remove a specific word from a string.

In [32]:
s = input("Enter the string: ")
w = input('Enter the word: ')
s.replace(w,'')

Enter the string:  Python is a interpreted programming language
Enter the word:  interpreted

'Python is a  programming language'

30. Check if a string is a valid email address.

In [33]:
import re
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
string = input("Enter a string: ")
if re.match(pattern,string):
     print("valid Email")
else:
    print("Invalid Email")

Enter a string:  pwkills121@gmail.com

valid Email

31. Extract the username from an email address string.

In [34]:
mail = input("Enter a email ID: ")
username = mail.split('@')[0]
print("Username: ",username)

Enter a email ID:  pwkills121@gmail.com

Username:  pwkills121

32. Extract the domain name from an email address string.

In [35]:
mail = input("Enter a email ID: ")
domain = mail.split('@')[1]
print("Domain name: ",domain)

Enter a email ID:  pwkills121@gmail.com

Domain name:  gmail.com

33. Replace multiple spaces in a string with a single space.

In [36]:
s = input("Enter the string: ")
cleaned_string = ' '.join(s.split())
print(cleaned_string)

Enter the string:  This    is   a   string

This is a string

34. Check if a string is a valid URL.

In [37]:
from urllib.parse import urlparse
s = input("Enter the string: ")
result = urlparse(s)
all([result.scheme, result.netloc])

Enter the string:  https://www.example.com

True

35. Extract the protocol (http or https) from a URL string.

In [38]:
url = input("Enter a URL: ")
protocol = url.split("://")[0]
print("Protocol for the given URL is: ",protocol)

Enter a URL:  https://www.example.com

Protocol for the given URL is:  https

36. Find the frequency of each character in a string.

In [39]:
s = input("Enter a string: ")
t = set(s)
for i in t:
    print(i,' = ',s.count(i))

Enter a string:  this is a string

t  =  2
n  =  1
i  =  3
s  =  3
a  =  1
r  =  1
   =  3
h  =  1
g  =  1

37. Remove all punctuation from a string.

In [40]:
import string
s = input("Enter a string: ")
for punctuation in string.punctuation :
     s = s.replace(punctuation,'')
print(s)

Enter a string:  hello, world! how are you doing?

hello world how are you doing

38. Check if a string contains only digits.

In [41]:
s = input("Enter a string: ")
s.isdigit()

Enter a string:  123

True

39. Check if a string contains only alphabets.

In [42]:
s = input("Enter a string: ")
s.isalpha()

Enter a string:  string

True

40. Convert a string to a list of characters.

In [43]:
s = input("Enter a string: ")
b = []
for i in s:
    b.append(i)
print(b)

Enter a string:  this is an example string

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', 'n', ' ', 'e', 'x', 'a', 'm', 'p', 'l', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g']

41. Check if two strings are anagrams.

In [1]:
s1 = input("Enter first string: ")
s2 = input("Enter second string: ")
str1 = s1.replace(" ","").lower()
str2 = s2.replace(" ","").lower()
if sorted(str1) == sorted(str2):
    print(s1," and",s2," are anagrams")
else:
    print(s1," and",s2," are not anagrams")

Enter first string:  spar
Enter second string:  rasp

spar  and rasp  are anagrams

42. Encode a string using a Caesar cipher.

In [2]:
s = input("Enter a string: ")
shift = int(input("Enter the number of shifts: "))
result = ""
for i in s:
    if (i.isalpha()): 
        if(i.isupper()):
            result += chr((ord(i) + shift - 65) % 26 + 65)
        else:
            result += chr((ord(i) + shift - 97) % 26 + 97)
    else:
        result += i
print("Encoded string using a Caesar cipher is: ",result)

Enter a string:  hello, world!
Enter the number of shifts:  4

Encoded string using a Caesar cipher is:  lipps, asvph!

43. Decode a Caesar cipher encoded string.

In [3]:
s = input("Enter a Caesar encoded string: ")
shift = int(input("Enter the number of shifts: "))
result = ""
for i in s:
    if (i.isalpha()): 
        if(i.isupper()):
            result += chr((ord(i) - shift - 65) % 26 + 65)
        else:
            result += chr((ord(i) - shift - 97) % 26 + 97)
    else:
        result += i
print("Decoded string of Caesar cipher is: ",result)

Enter a Caesar encoded string:  lipps, asvph!
Enter the number of shifts:  4

Decoded string of Caesar cipher is:  hello, world!

44. Find the most frequent word in a string.

In [4]:
from collections import Counter
import string
s = input("Enter a string: ")
for punctuation in string.punctuation:
    s = s.replace(punctuation,"")
l = s.split()
freq = Counter(l)
freq.most_common(1)

Enter a string:  I am Mohammed Moin. I stay in Bengaluru. I am a recent graduate.

[('I', 3)]

45. Find all unique words in a string.

In [5]:
s = input("Enter a string: ")
for punctuation in string.punctuation:
    s = s.replace(punctuation,"").lower()
unique_words = set(s.split())
print("All unique words are: ",unique_words)

Enter a string:  I am Mohammed Moin. I stay in Bengaluru. I am a recent graduate.

All unique words are:  {'a', 'am', 'i', 'moin', 'bengaluru', 'recent', 'stay', 'in', 'graduate', 'mohammed'}

46. Count the number of syllables in a string.

In [6]:
s = input("Enter a string: ")
s = s.lower()
count = 0
for i in s:
    if i in ['a','e','i','o','u','y']:
        count += 1
print("Total number of syllables in the given string is: ",count)

Enter a string:  category

Total number of syllables in the given string is:  4

47. Check if a string contains any special characters.

In [7]:
import re
s = input("Enter a string: ")
pattern  = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
bool(pattern.search(s))

Enter a string:  pwskills@gmail.com

True

48. Remove the nth word from a string.

In [9]:
string = input("Enter a string: ")
n = int(input("Enter the value of N: "))
lst = string.split()
removed_word = lst.pop(n)
string = ' '.join(lst)
print("new string is: ",string)
print("Removed word is: ",removed_word)

Enter a string:  data science is a booming industry
Enter the value of N:  3

new string is:  data science is booming industry
Removed word is:  a

49. Insert a word at the nth position in a string.

In [10]:
string = input("Enter a string: ")
word = input("Enter a word: ")
n = int(input("Enter the value of N: "))
lst = string.split()
lst.insert(n,word)
string = ' '.join(lst)
print("new string is: ",string)

Enter a string:  data science is booming industry
Enter a word:  a
Enter the value of N:  3

new string is:  data science is a booming industry

50. Convert a CSV string to a list of lists.

In [11]:
string = input("Enter a string: ")
lst = string.split('\\n')
result = []
for each_line in lst:
    new_list = each_line.split(',')
    result.append(new_list)
for each_list in result:
    print(each_list)

Enter a string:  Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [12]:
integer = []
i = 1
while(i<=10):
    integer.append(i)
    i = i + 1
print(integer)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [13]:
l = [10,20,30,'pwskills',True,False,76.44]
length = 0
for i in l:
    length += 1
print("Length of given list is: ",length)

Length of given list is:  7

3. Append an element to the end of a list.

In [14]:
l = [10,20,30,40]
l.append(50)
l

[10, 20, 30, 40, 50]

4. Insert an element at a specific index in a list.

In [15]:
l = [10,20,40,50,60]
l.insert(2,30)
l

[10, 20, 30, 40, 50, 60]

5. Remove an element from a list by its value.

In [16]:
l = [10,20,30,40,50,60]
l.remove(40)
l

[10, 20, 30, 50, 60]

6. Remove an element from a list by its index.

In [17]:
l = [10,20,30,40,50,60]
l.pop(4)
l

[10, 20, 30, 40, 60]

7. Check if an element exists in a list.

In [18]:
l = [10,20,30,40,50,60]
check = 50
if check in l:
    print("Yes, It exists.")
else:
    print("No, It doesn't exists.")

Yes, It exists.

8. Find the index of the first occurrence of an element in a list.

In [19]:
l = [10,20,30,30,20,10,40]
check = int(input("Enter an element: "))
l.index(check)

Enter an element:  10

0

9. Count the occurrences of an element in a list.

In [20]:
l = [10,20,30,30,20,10,40]
check = int(input("Enter an element: "))
l.count(check)

Enter an element:  10

2

10. Reverse the order of elements in a list.

In [21]:
l = [10,20,30,40,50,60]
l.reverse()
l

[60, 50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [22]:
l = [10,7,2,90,45,1,5,7,31,67]
l.sort()
l

[1, 2, 5, 7, 7, 10, 31, 45, 67, 90]

12. Sort a list in descending order.

In [23]:
l = [10,7,2,90,45,1,5,7,31,67]
l.sort(reverse = True)
l

[90, 67, 45, 31, 10, 7, 7, 5, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [24]:
l = []
i = 1
while (i <= 20):
    if(i % 2 == 0):
        l.append(i)
        i = i + 1
    else:
        i = i + 1 
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [25]:
l = []
i = 1
while (i <= 20):
    if(i % 2 != 0):
        l.append(i)
        i = i + 1
    else:
        i = i + 1 
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [26]:
l = [10,20,30,40,50,60]
sum(l)

210

16. Find the maximum value in a list.

In [27]:
l = [10,20,30,40,50,60]
max(l)

60

17. Find the minimum value in a list.

In [28]:
l = [10,20,30,40,50,60]
min(l)

10

18. Create a list of squares of numbers from 1 to 10.

In [29]:
l = []
i = 1
while(i <= 10):
    s = i*i
    l.append(s)
    i += 1
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [30]:
import random
l = [random.randint(1,100) for x in range(10)]
l

[78, 90, 75, 67, 40, 35, 88, 49, 8, 75]

20. Remove duplicates from a list.

In [31]:
l = [10,50,34,40,20,10,50,100,90,40,20]
unqlist = list(set(l))
print("List with unique elements: ",unqlist)

List with unique elements:  [34, 100, 40, 10, 50, 20, 90]

21. Find the common elements between two lists.

In [32]:
l1 = [10,25,15,55,45,20]
l2 = [90,10,75,55,20,65]
common_ele = []
for i in l1:
    if i in l2:
        common_ele.append(i)
    else:
        continue
print("Common elements from both lists are: ",common_ele)

Common elements from both lists are:  [10, 55, 20]

22. Find the difference between two lists.

In [33]:
l1 = [10,25,15,55,45,20]
l2 = [90,10,75,55,20,65]
diff_elem1 = [x for x in l1 if x not in l2]
diff_elem2 = [x for x in l2 if x not in l1]
print(diff_elem1)
print(diff_elem2)

[25, 15, 45]
[90, 75, 65]

23. Merge two lists.

In [34]:
l1 = [10,25,15,55,45,20]
l2 = [90,10,75,55,20,65]
l1.extend(l2)
print(l1)

[10, 25, 15, 55, 45, 20, 90, 10, 75, 55, 20, 65]

24. Multiply all elements in a list by 2.

In [35]:
l = [10,20,30,40,50]
new_list = [x*2 for x in l ]
new_list

[20, 40, 60, 80, 100]

25. Filter out all even numbers from a list.

In [36]:
l = [10,35,20,65,80,100,47,23,85]
odd_list = [x for x in l if x % 2 != 0]
l = odd_list
l

[35, 65, 47, 23, 85]

26. Convert a list of strings to a list of integers.

In [37]:
l = ['10','20','30','40','50']
final_list = [int(x) for x in l]
final_list

[10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [38]:
l = [10,20,30,40,50]
final_list = [str(x) for x in l]
final_list

['10', '20', '30', '40', '50']

28. Flatten a nested list.

In [39]:
l = [[1,2,3],4,5,[6,7,8],9]
flattened = []
for i in l:
    if isinstance(i,list):
        flattened.extend(i)
    else:
        flattened.append(i)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [40]:
l = [0,1]
n = 10
for i in range(2,n):
    total = l[i-1]+l[i-2]
    l.append(total)
l

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [41]:
l = [10,20,30,40,50]
flag = 0
i = 1
while(i<len(l)):
    if(l[i]<l[i-1]):
        flag = 1
    i += 1
if(flag == 0):
    print("List is sorted")
else:
    print("list is not sorted")

List is sorted

31. Rotate a list to the left by `n` positions.

In [42]:
l = [1,2,3,4,5,6]
n = int(input("Enter the number of positions: "))
left_rotated = l[n:] + l[:n]
left_rotated

Enter the number of positions:  2

[3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by `n` positions.

In [43]:
l = [1,2,3,4,5,6]
n = int(input("Enter the number of positions: "))
right_rotated = l[-n:] + l[:-n] 
right_rotated

Enter the number of positions:  2

[5, 6, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [44]:
l = []
n = 50
for num in range(2,n+1):
    if num > 1:
        for i in range(2,num):
            if(num % i == 0):
                break
        else:
            l.append(num)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [45]:
l = [1,2,3,4,5,6,7,8,9]
n = int(input("Enter the size of N: "))
for i in range(0,len(l),n):
    print(l[i:i+n])

Enter the size of N:  3

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

35. Find the second largest number in a list.

In [46]:
l = [15,3,20,45,28,15,40,10,28,52,6]
Sorted = sorted(set(l))
print(Sorted)
print(Sorted[-2])

[3, 6, 10, 15, 20, 28, 40, 45, 52]
45

36. Replace every element in a list with its square.

In [47]:
l = [1,2,3,4,5,6]
l = [x**2 for x in l]
l

[1, 4, 9, 16, 25, 36]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [48]:
l = ['apple', 'banana', 'cherry', 'date', 'elderberry','apple','mango','date']
final_list = sorted(set(l))
my_dict = {element : index for index,element in enumerate(final_list)}
my_dict

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4, 'mango': 5}

38. Shuffle the elements of a list randomly.

In [49]:
import random
l = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(l)
l

[3, 9, 8, 6, 1, 2, 10, 4, 5, 7]

39. Create a list of the first 10 factorial numbers.

In [50]:
n = 10
l = []
i = 1
fact = 1
while(i<=n):
    fact *= i
    l.append(fact)
    i += 1
l

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [51]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,2]
any(i in list2 for i in list1)

True

41. Remove all elements from a list.

In [52]:
l = [10,20,30,40,50]
l.clear()
l

[]

42. Replace negative numbers in a list with 0.

In [53]:
l = [1,2,-3,4,-5]
for i in range(0,len(l)):
    if l[i] < 0:
        l[i] = 0
    else:
        continue
l

[1, 2, 0, 4, 0]

43. Convert a string into a list of words.

In [54]:
string = "Hello, World! How are you?"
l = string.split()
l

['Hello,', 'World!', 'How', 'are', 'you?']

44. Convert a list of words into a string.

In [55]:
l = ['This','is','a','sample','sentence']
string = ' '.join(l)
string

'This is a sample sentence'

45. Create a list of the first `n` powers of 2.

In [56]:
n = int(input("Enter the value of n: "))
l = [2**i for i in range(n+1)]
l

Enter the value of n:  5

[1, 2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [57]:
l = ['This','is','an','example','of','list','of','strings']
longest = max(l,key = len)
longest

'example'

47. Find the shortest string in a list of strings.

In [58]:
l = ['This','is','a','list','of','strings']
shortest = min(l,key = len)
shortest

'a'

48. Create a list of the first `n` triangular numbers.

In [59]:
n = int(input("Enter the value of N: "))
l = [i*(i+1)//2 for i in range(1,n+1)]
l

Enter the value of N:  5

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [62]:
def is_subsequence(sub_list,main_list):
    for i in range(len(main_list)-len(sub_list)+1):
        if main_list[i:i+len(sub_list)] == sub_list:
            return True
    return False
main_list = [1,2,3,4,5,6,7,8,9]
sub_list =[2,3,4]
if is_subsequence(sub_list,main_list):
    print("main list contains sub list as subsequence")
else:
    print("main list doesn't contain sub list as subsequence")

main list contains sub list as subsequence

50. Swap two elements in a list by their indices.

In [63]:
i = int(input("Enter the value of first index: "))
j = int(input("Enter the value of second index: "))
l = [10,20,30,40,50,60]
print(l)
k = l[i]
l[i] = l[j]
l[j] = k
l

Enter the value of first index:  2
Enter the value of second index:  5

[10, 20, 30, 40, 50, 60]

[10, 20, 60, 40, 50, 30]

Tuple Based Practice Problem

1. Create a tuple with integers from 1 to 5.

In [64]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [65]:
t = (10,20,30,40,50)
t[2]

30

3. Find the length of a tuple without using the `len()` function.

In [66]:
t = (10,20,30,40,50)
count = 0
for i in t:
    count += 1
print(count)

5

4. Count the occurrences of an element in a tuple.

In [67]:
t = (10,40,20,40,90,50,40)
t.count(40)

3

5. Find the index of the first occurrence of an element in a tuple.

In [68]:
t = (10,40,20,40,90,50,40)
t.index(40)

1

6. Check if an element exists in a tuple.

In [69]:
t = (10,40,20,40,90,50,40)
x = int(input("Enter the element: "))
if x in t:
    print(f"The given element {x} exists")
else:
    print(f"The given element {x} doesn't exists")

Enter the element:  20

The given element 20 exists

7. Convert a tuple to a list.

In [70]:
t = (10,40,20,40,90,50,40)
l = list(t)
l

[10, 40, 20, 40, 90, 50, 40]

8. Convert a list to a tuple.

In [71]:
l = [10,20,30,40,50]
t = tuple(l)
t

(10, 20, 30, 40, 50)

9. Unpack the elements of a tuple into variables.

In [72]:
my_tuple = (10,20,30)
v1,v2,v3 = my_tuple
print('var1: ',v1)
print('var2: ',v2)
print('var3: ',v3)

var1:  10
var2:  20
var3:  30

10. Create a tuple of even numbers from 1 to 10.

In [73]:
l1 = [n for n in range(2,11,2)]
t1= tuple(l1)
t1

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [74]:
l1 = [n for n in range(1,11,2)]
t1= tuple(l1)
t1

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [75]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,0)
t3 = t1 + t2
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

13. Repeat a tuple three times.

In [76]:
t = (1,2,3,4)*3
t

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty.

In [77]:
t1 = (1,2,3)
t2 = ()
if len(t1) == 0:
    print("tuple is empty")
else:
    print("tuple is not empty")
if len(t2) == 0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is not empty
tuple is empty

15. Create a nested tuple.

In [78]:
t = ((1,2,3),('pw','skills'),(True,False))
t

((1, 2, 3), ('pw', 'skills'), (True, False))

16. Access the first element of a nested tuple.

In [79]:
t = ((1,2,3),('pw','skills'),(True,False))
t[0][0]

1

17. Create a tuple with a single element.

In [80]:
t = (10,)
print(type(t),t)

<class 'tuple'> (10,)

18. Compare two tuples.

In [81]:
tuple1 = (2,3,4)
tuple2 = (2,3,1)
print("tuple1 == tuple2:", tuple1 == tuple2) 
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)   
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: False
tuple1 <= tuple2: False
tuple1 > tuple2: True
tuple1 >= tuple2: True

19. Delete a tuple.

In [82]:
t1 = (1,2,3,4,5)
print(t1)
del t1
t1

(1, 2, 3, 4, 5)

NameError: name 't1' is not defined

20. Slice a tuple.

In [83]:
t1 = (10,20,30,40,50)
t1[1:4]

(20, 30, 40)

21. Find the maximum value in a tuple.

In [84]:
t1 = (90,60,30,20,80)
max(t1)

90

22. Find the minimum value in a tuple.

In [85]:
t1 = (90,60,30,20,80)
min(t1)

20

23. Convert a string to a tuple of characters.

In [86]:
s = "Data Science"
t = tuple(s)
t

('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')

24. Convert a tuple of characters to a string.

In [87]:
t = ('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')
s = ''.join(t)
s

'Data Science'

25. Create a tuple from multiple data types.

In [88]:
t = (1,2.34,'pwskills',True)
t

(1, 2.34, 'pwskills', True)

26. Check if two tuples are identical.

In [89]:
t1 = (1,2,3)
t2 = (1,2,3)
t3 = (3,4,5)
if t1 == t2:
    print("tuples are identical")
else:
     print("tuples are not identical")
if t1 == t3:
    print("tuples are identical")
else:
     print("tuples are not identical")

tuples are identical
tuples are not identical

27. Sort the elements of a tuple.

In [90]:
t1 = (90,60,30,20,80)
sorted_tuple = tuple(sorted(t1))
sorted_tuple

(20, 30, 60, 80, 90)

28. Convert a tuple of integers to a tuple of strings.

In [91]:
t = (1,2,3,4,5)
final_tuple = tuple(str(item) for item in t)
final_tuple

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [92]:
t = ('1', '2', '3', '4', '5')
final_tuple = tuple(int(item) for item in t)
final_tuple

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [93]:
t1 = (1,2,3)
t2 = (4,5,6)
merged_tuple = t1 + t2
merged_tuple

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [94]:
t = (1,2,(3,4,5),6,7,(8,9,0))
flattened = []
for i in t:
    if isinstance(i,tuple):
        flattened.extend(i)
    else:
        flattened.append(i)
flattened_tuple = tuple(flattened)
flattened_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

32. Create a tuple of the first 5 prime numbers.

In [95]:
def isprime(num):
    if num<=1:
        return False
    for i in range(2,num):
        if (num % i == 0):
            return False
    return True
prime = tuple(num for num in range(1,100) if isprime(num))[:5]
prime

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [96]:
def is_palindrome(t):
    return t == t[::-1]

t1 = (1,2,1)
t2 = (3,2,1)

A1 = is_palindrome(t1)
A2 = is_palindrome(t2)

print("Is first tuple palindrome: ",A1)
print("Is second tuple palindrome: ",A2)

Is first tuple palindrome:  True
Is second tuple palindrome:  False

34. Create a tuple of squares of numbers from 1 to 5.

In [97]:
t = tuple(num**2 for num in range(1,6))
t

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [98]:
t = (1,2,3,4,5,6,7,8,9,0)
odd_tuple = tuple(i for i in t if i % 2 != 0)
odd_tuple

(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [99]:
t = (1,2,3,4,5)
final_tuple = tuple(i*2 for i in t)
final_tuple

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [100]:
import random
t1 = tuple(random.randint(1,100) for x in range(10))
t1

(77, 28, 39, 95, 50, 78, 15, 55, 82, 19)

38. Check if a tuple is sorted.

In [101]:
def check(tup):
    return tup == tuple(sorted(tup))
    
t1 = (5,3,1,6,4,2)
t2 = (1,2,3,4,5,6)

print("Tuple is sorted: ",check(t1))
print("Tuple is sorted: ",check(t2))

Tuple is sorted:  False
Tuple is sorted:  True

39. Rotate a tuple to the left by `n` positions.

In [102]:
t = (1,2,3,4,5,6)
n = int(input("Enter the value of n: "))
rotate = t[n:] + t[:n]
print(rotate)

Enter the value of n:  2

(3, 4, 5, 6, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [103]:
t = (1,2,3,4,5,6)
n = int(input("Enter the value of n: "))
rotate = t[-n:] + t[:-n]
print(rotate)

Enter the value of n:  2

(5, 6, 1, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [104]:
def fibo(n):
    t = [0,1]
    for i in range(n-2):
        add = t[i] + t[i+1]
        t.append(add)
    return t

n = int(input("Enter the number: "))
print(f"Fibonacci series of {n} number is : ",tuple(fibo(n)))

Enter the number:  5

Fibonacci series of 5 number is :  (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [107]:
s = input("Enter tuple elements: ")
t = s.split(',')
print("Tuple: ",tuple(t))

Enter tuple elements:  10,20,30,40,50

Tuple:  ('10', '20', '30', '40', '50')

43. Swap two elements in a tuple.

In [108]:
t = [1,2,3,4,5,6]
print("Tuple before swapping: ",tuple(t))
x = int(input("Enter the first element to be swapped: "))
y = int(input("Enter the first element to be swapped: "))
temp = t[x]
t[x] = t[y]
t[y] = temp
print("Tuple after swapping: ",tuple(t))

Tuple before swapping:  (1, 2, 3, 4, 5, 6)

Enter the first element to be swapped:  2
Enter the first element to be swapped:  5

Tuple after swapping:  (1, 2, 6, 4, 5, 3)

44. Reverse the elements of a tuple.

In [109]:
t = (1,2,3,4,5,6)
reversed_tuple = t[::-1]
reversed_tuple

(6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [110]:
n = int(input("Enter the value of n: "))
t = tuple(2**i for i in range(n))
print(t)

Enter the value of n:  5

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [111]:
t = ('this', 'is', 'a', 'string', 'in', 'tuple')
print(t)
s = str(t)
longest = max(s.split(','),key = len)
print("Longest word in the given string: ",longest)

('this', 'is', 'a', 'string', 'in', 'tuple')
Longest word in the given string:   'string'

47. Find the shortest string in a tuple of strings.

In [112]:
t = ('this', 'is', 'a', 'string', 'in', 'tuple')
print(t)
shortest = min(t,key = len)
print("Shortest word in the given string: ",shortest)

('this', 'is', 'a', 'string', 'in', 'tuple')
Shortest word in the given string:  a

48. Create a tuple of the first `n` triangular numbers.

In [113]:
n = int(input("Enter the value of N: "))
l = tuple(i*(i+1)//2 for i in range(1,n+1))
l

Enter the value of N:  5

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [114]:
def check(t,sub):
    sub_length = len(sub)
    for i in range(len(t)-len(sub)+1):
        if t[i:i+sub_length] == sub:
            return True
    else:
        return False
            
t = (1,2,3,4,5,6,7,8,9)
sub = (4,5,6)

if (check(t,sub)):
    print("tuple contains another tuple as a subsequence")
else:
     print("tuple doesn't contains another tuple as a subsequence")

tuple contains another tuple as a subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [115]:
n = int(input("Enter the value of n: "))
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Enter the value of n:  10

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [1]:
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [2]:
s = {1,2,2,3,3,4,5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [3]:
s = {1,2,3,4,5}
s.remove(5)
s

{1, 2, 3, 4}

4. Check if an element exists in a set.

In [4]:
x = int(input("Enter an element to check: "))
s = {10,20,30,40,50}
if x in s:
    print("Element exists")
else:
    print("Element doesn't exist")

Enter an element to check:  30

Element exists

5. Find the length of a set without using the `len()` function.

In [5]:
s = {1,2,3,4,5}
count = 0
for i in s:
    count += 1
print(f"Length of given set is {count}")

Length of given set is 5

6. Clear all elements from a set.

In [6]:
s = {1,2,3,4,5}
s.clear()
s

set()

7. Create a set of even numbers from 1 to 10.

In [7]:
s = set()
for i in range(1,11):
    if i % 2 == 0:
        s.add(i)
print(s)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [8]:
s = set()
for i in range(1,11):
    if i % 2 != 0:
        s.add(i)
print(s)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [9]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1)
print(s2)
s1.union(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [10]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1)
print(s2)
s1.intersection(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

{4, 5}

11. Find the difference between two sets.

In [11]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1)
print(s2)
s1.difference(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

{1, 2, 3}

12. Check if a set is a subset of another set.

In [12]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
s2.issubset(s1)

True

13. Check if a set is a superset of another set.

In [13]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
s1.issuperset(s2)

True

14. Create a set from a list.

In [14]:
l = [1,2,3,4,5,6]
print("list: ",l)
print("set: ",set(l))

list:  [1, 2, 3, 4, 5, 6]
set:  {1, 2, 3, 4, 5, 6}

15. Convert a set to a list.

In [15]:
s = {1,2,3,4,5,6}
print("set: ",s)
print("list: ",list(l))

set:  {1, 2, 3, 4, 5, 6}
list:  [1, 2, 3, 4, 5, 6]


16. Remove a random element from a set.

In [16]:
import random 
s = {1,2,3,4,5,6}
print(f"set:{s}")
random_element = random.choice(list(s))
s.remove(random_element)
print(f"Set after removing random element:{s}")

set:{1, 2, 3, 4, 5, 6}
Set after removing random element:{1, 2, 3, 4, 5}

17. Pop an element from a set.

In [17]:
s = {1,2,3,4,5,6}
print(s.pop())
print(s)

1
{2, 3, 4, 5, 6}

18. Check if two sets have no elements in common.

In [18]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,0}
if s1.intersection(s2):
    print("Commom elements are found")
else:
    print("There are no common elements")

There are no common elements

19. Find the symmetric difference between two sets.

In [19]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
s1.symmetric_difference(s2)

{1, 2, 6, 7}

20. Update a set with elements from another set.

In [20]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,0}
s1.update(s2)
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

21. Create a set of the first 5 prime numbers.

In [21]:
def isprime(num):
    if num <= 1:
        return False
    for i in range(2,num):
        if num % i == 0:
            return False
    return True
s = set()
for i in range(1,100):
    if len(s) < 5:
        if isprime(i):
            s.add(i)
        else:
            continue
print(s)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [22]:
s1 = {1,2,3,4,5}
s2 = {2,5,1,3,4}
s3 = {4,5,6,'pw','skills'}
print("Are sets identical: ",s1 == s2)
print("Are sets identical: ",s1 == s3)

Are sets identical:  True
Are sets identical:  False

23. Create a frozen set.

In [23]:
s = {1,2,3,4,5}
frozen_set = frozenset(s)
frozen_set

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [24]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s3 = {6,7,8,9,0}
print("Are given sets disjoint set: ",s1.isdisjoint(s2))
print("Are given sets disjoint set: ",s1.isdisjoint(s3))

Are given sets disjoint set:  False
Are given sets disjoint set:  True

25. Create a set of squares of numbers from 1 to 5.

In [25]:
s = set(i**2 for i in range(1,6))
s

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [26]:
s = {1,2,3,4,5,6,7,8,9}
print(s)
y = set(filter(lambda x:x%2==0,s))
y

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{2, 4, 6, 8}

27. Multiply all elements in a set by 2.

In [27]:
s = {1,2,3,4,5}
multiple = set(x**2 for x in s)
multiple

{1, 4, 9, 16, 25}

28. Create a set of random numbers.

In [28]:
import random
s = set (random.randint(1,100) for x in range(10))
s

{16, 18, 20, 35, 38, 48, 50, 57, 73, 92}

29. Check if a set is empty.

In [29]:
s = {1,2,3,4,5}
if not s:
    print("Set is empty")
else:
    print("Set is not empty")

Set is not empty

30. Create a nested set (hint: use frozenset).

In [30]:
s = {1,2,3}
s1 = {4,5,6}
s2 = {'hello,','world!'}
frozen1 = frozenset(s1)
frozen2 = frozenset(s2)
s.add(frozen1)
s.add(frozen2)
s

{1, 2, 3, frozenset({'hello,', 'world!'}), frozenset({4, 5, 6})}

31. Remove an element from a set using the discard method.

In [31]:
s = {1,2,'hello','world',3.14,True}
s.discard('world')
s

{1, 2, 3.14, 'hello'}

32. Compare two sets.

In [32]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(f"s1: {s1}")
print(f"s2: {s2}")
print(f"Union of s1 and s2: {s1.union(s2)}")
print(f"Is s1 subset of s2: {s1.issubset(s2)}")
print(f"Is s2 subset of s1: {s2.issubset(s1)}")
print(f"s1 intersection s2: {s1.intersection(s2)}")
print(f"Is s1 superset of s2: {s1.issuperset(s2)}")
print(f"Is s2 superset of s1: {s2.issuperset(s1)}")
print(f"Elements that are present only in s1: {s1.difference(s2)}")
print(f"Elements that are present only in s2: {s2.difference(s1)}")

s1: {1, 2, 3, 4, 5}
s2: {4, 5, 6, 7, 8}
Union of s1 and s2: {1, 2, 3, 4, 5, 6, 7, 8}
Is s1 subset of s2: False
Is s2 subset of s1: False
s1 intersection s2: {4, 5}
Is s1 superset of s2: False
Is s2 superset of s1: False
Elements that are present only in s1: {1, 2, 3}
Elements that are present only in s2: {8, 6, 7}

33. Create a set from a string.

In [33]:
s = "This is a sample string"
print(s)
s1 = set(s)
s1

This is a sample string

{' ', 'T', 'a', 'e', 'g', 'h', 'i', 'l', 'm', 'n', 'p', 'r', 's', 't'}

34. Convert a set of strings to a set of integers.

In [34]:
s = {'1','2','3','4','5'}
print(s)
s1 = set(map(lambda x:int(x),s))
s1

{'4', '2', '1', '5', '3'}

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [35]:
s = {1, 2, 3, 4, 5}
print(s)
s1 = set(map(lambda x:str(x),s))
s1

{1, 2, 3, 4, 5}

{'1', '2', '3', '4', '5'}

36. Create a set from a tuple.

In [36]:
t = (1,2,'hello','world',3.14,True,1,'hello')
print(t)
s = set(t)
print(s)

(1, 2, 'hello', 'world', 3.14, True, 1, 'hello')
{1, 2, 3.14, 'world', 'hello'}

37. Convert a set to a tuple.

In [37]:
s = {1,2,3,4,5}
print(s)
t = tuple(s)
print(t)

{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [38]:
s = {30,70,45,15,10,55}
maximum = max(s)
maximum

70

39. Find the minimum value in a set.

In [39]:
s = {30,70,45,15,10,55}
minimum = min(s)
minimum

10

40. Create a set from user input.

In [40]:
n = int(input("Enter the number of elements to be stored in a set: "))
s = set()
for i in range(n):
    j = int(input("Enter the element: "))
    s.add(j)
    
print(s)

Enter the number of elements to be stored in a set:  5
Enter the element:  25
Enter the element:  14
Enter the element:  65
Enter the element:  43
Enter the element:  20

{65, 43, 14, 20, 25}

41. Check if the intersection of two sets is empty.

In [41]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,1}
if not s1.intersection(s2):
    print('Empty')
else:
    print('Not Empty')

Not Empty

42. Create a set of the first 5 Fibonacci numbers.

In [42]:
def fibo(n):
    l = [0,1]
    for i in range(n-1):
        add = l[i] + l[i+1]
        l.append(add)
    return l
print("5 Fibonacci series: ",set(fibo(5)))

5 Fibonacci series:  {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [43]:
l = [1,2,3,6,1,2,5,7,3,4,6,9,8]
print(l)
print(set(l))

[1, 2, 3, 6, 1, 2, 5, 7, 3, 4, 6, 9, 8]
{1, 2, 3, 4, 5, 6, 7, 8, 9}

44. Check if two sets have the same elements, regardless of their count.

In [44]:
s1 = {1,3,1,2,2,3,5,4}
s2 = {1,2,2,5,4,3}
if s1 == s2:
    print('Sets have same elements')
else:
    print("Sets doesn't have same elements")

Sets have same elements

45. Create a set of the first `n` powers of 2.

In [45]:
n = int(input("Enter the value of n: "))
s = set(2**i for i in range(n))
print(s)

Enter the value of n:  5

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [46]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
print(my_set)
print(my_list)
my_list1 = set(my_list)
my_set.intersection(my_list1)

{3, 7, 9, 12, 15}
[7, 12, 5, 9]

{7, 9, 12}

47. Create a set of the first `n` triangular numbers.

In [47]:
n = int(input("Enter the value of n: "))
tri_num = set(i*(i+1)//2 for i in range(1,n+1))
print(tri_num)

Enter the value of n:  5

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [48]:
s1 = {1,2,3,4,5,6}
s2 = {1,3,5}
s2.issubset(s1)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [49]:
n = int(input("Enter the value of n: "))
s = set(i%2 for i in range(n))
print(s)

Enter the value of n:  10

{0, 1}

50. Merge multiple sets into one.

In [50]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {7,8,9}
merged_set = s1.union(s2,s3)
print(f"Merged set: {merged_set}")

Merged set: {1, 2, 3, 4, 5, 6, 7, 8, 9}